# Configuration of the camera
camera :
{
    resolution = { width = 1080; height = 720; };
    position = { x = 0; y = -200; z = 30; };
    rotation = { x = -10; y = 0; z = 0; };
    fieldOfView = 90.0; # In degree
};
# Primitives in the scene
primitives :
{

    spheres = (
        {x = 100; y = 5; z = 40; rad = 25; material = "red";},
        {x = -40; y = 20; z = 30; rad = 35; material = "green";},
        {x = 70; y = 20; z = 0; rad = 30; material = "ivory";},
        {x = 90; y = -70; z = 0; rad = 30; material = "ivory";},
        {x = 0; y = 0; z = 0; rad = 30; material = "glass";},
        {x = -10; y = -100; z = 0; rad = 25; material = "glass";},
        {x = 100; y = -40; z = 0; rad = 20; material = "orange";},
        {x = -100; y = 100; z = 0; rad = 30; material = "purple";},
        {x = -120; y = -80; z = 0; rad = 30; material = "yellow";},
    );
    plane = (
        {x = 0; y = 0; z = -20; xr = 0; yr = 0; zr = 0; material = "blue";}
    );


};
# Light configuration
lights :
{
    point = (
        {x = 400; y = 100; z = 500; r = 255; g = 255; b = 255; m = 0.7;},
    );
    ambient = (
        {r = 255; g = 255; b = 255; m = 0.2;}
    );
    // directional = (
    //      {x = 1; y = -1; z = 1; r = 255; g = 255; b = 255; m = 0.5;}
    // )
};

materials :
{
    materials = (
        {
            name = "red";
            r = 255;
            g = 64;
            b = 64;
            transparency = 1.0;
            reflection = 0.9;
            refraction = 0.0;
            shininess = 0.0;
        },
        {
            name = "test";
            r = 255;
            g = 64;
            b = 64;
            transparency = 0.2;
            reflection = 0.2;
            refraction = 0.0;
            shininess = 0.0;
        },
        {
            name = "green";
            r = 64;
            g = 255;
            b = 64;
            transparency = 1.0;
            reflection = 0.0;
            refraction = 0.0;
            shininess = 0.0;
        },
        {
            name = "blue";
            r = 64;
            g = 64;
            b = 255;
            transparency = 1.0;
            reflection = 0.0;
            refraction = 0.0;
            shininess = 0.0;
        },
        {
            name = "glass";
            r = 255;
            g = 255;
            b = 240;
            transparency = 0.0;
            reflection = 0.6;
            refraction = 0.0;
            shininess = 0.0;
        },
        {
            name = "ivory";
            r = 255;
            g = 255;
            b = 240;
            transparency = 1.0;
            reflection = 0.6;
            refraction = 0.0;
            shininess = 0.0;
        },
        {
            name = "orange";
            r = 255;
            g = 165;
            b = 0;
            transparency = 1.0;
            reflection = 0.0;
            refraction = 0.0;
            shininess = 0.0;
        },
        {
            name = "purple";
            r = 128;
            g = 0;
            b = 128;
            transparency = 1.0;
            reflection = 0.0;
            refraction = 0.0;
            shininess = 0.0;
        },
        {
            name = "yellow";
            r = 255;
            g = 255;
            b = 0;
            transparency = 1.0;
            reflection = 0.0;
            refraction = 0.0;
            shininess = 0.0;
        },
        {
            name = "pink";
            r = 255;
            g = 192;
            b = 203;
            transparency = 1.0;
            reflection = 0.0;
            refraction = 0.0;
            shininess = 0.0;
        }
    );
};

antiAliasing = 0;


    // limitedcone = (
    //     { h = 40; t = 20 ; x = 0; y = 0; z = 0; xr = 0; yr = 90; zr = 90; material = "blue" } ,
    // );
    // plane = (
    //     {x = 0; y = 0; z = -30; xr = 0; yr = 0; zr = 0; material = "green";}
    // );
    // spheres = (
    //     {x = 20; y = 0; z = 10; rad = 10; material = "test";}
    // );
    // square = (
    //     {x1 = -50; y1 = -20; z1 = 0; x2 = -30; y2 = 0; z2 = 20; xr = 0; yr = 0; zr = 0; material = "test"}
    // );
    // square = (
    //     {x1 = 20; y1 = 0; z1 = 0; x2 = 30; y2 = 10; z2 = 10; xr = 0; yr = 0; zr = 0; material = "green";}
    // )